build/
build-*/
**.vscode
**.code-workspace
**.vscode-ctags
__pycache__/
*.egg-info/
_version.py
tmp/
dist/
.pytest_cache/

# Cython / C extension build artifacts
hla-audio-stream/*.c
hla-audio-stream/*.pyd
hla-audio-stream/*.so
hla-audio-stream/Release/
